In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect('nominations.db')
conn.execute('pragma table_info(nominations);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [21]:
conn.execute('select * from nominations limit 10;').fetchall()

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 (2,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 (3,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 (4,
  'Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 (5,
  'Actor -- Leading Role',
  'James Franco',
  '127 Hours',
  'Aron Ralston',
  0,
  1),
 (6,
  'Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 (7,
  'Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 (8,
  'Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 (9,
  'Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 (10,
  'Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1)]

In [22]:
for row in conn.execute('select * from nominations limit 10;').fetchall():
  print(row)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', 0, 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', 0, 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', 1, 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', 1, 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', 0, 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', 0, 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', 0, 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', 0, 1)

In [23]:
conn.execute('create table ceremonies(id integer primary key, Year integer, Host text);').fetchall()

OperationalError: table ceremonies already exists

In [8]:
conn.execute('select name from sqlite_master where type="table";').fetchall()

[('ceremonies',),
 ('nominations',),
 ('movies',),
 ('actors',),
 ('movies_actors',)]

In [24]:
conn.execute('pragma table_info(ceremonies);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

In [25]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal")]
insert_query = "insert into ceremonies (Year, Host) values (?,?);"
conn.executemany(insert_query, years_hosts).fetchall()

[]

In [26]:
conn.execute('pragma table_info(ceremonies);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

In [27]:
conn.execute('select * from ceremonies limit 10;').fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

In [28]:
conn.execute('pragma foreign_keys = on;').fetchall()

[]

In [29]:
conn.execute('create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremony_id integer references ceremonies(id));').fetchall()

OperationalError: table nominations_two already exists

In [32]:
conn.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [33]:
conn.execute('pragma foreign_key_list(nominations_two);').fetchall()

[(0, 0, 'ceremonies', 'ceremony_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE')]

In [34]:
joined_nominations = conn.execute('select nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id from nominations inner join ceremonies on nominations.year == ceremonies.year;').fetchall()
joined_nominations

OperationalError: no such column: nominations.year

In [35]:
insert_nominations_two = 'insert into nominations_two values(null, ?, ?, ?, ?, ?, ?);'
conn.executemany(insert_nominations_two, joined_nominations).fetchall()

NameError: name 'joined_nominations' is not defined

In [36]:
for row in conn.execute('select * from nominations_two limit 10;').fetchall():
  print(row)

In [37]:
for row in conn.execute('select * from nominations limit 10;').fetchall():
  print(row)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', 0, 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', 0, 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', 1, 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', 1, 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', 0, 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', 0, 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', 0, 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', 0, 1)

In [38]:
for row in conn.execute('select * from nominations_two order by ceremony_id desc limit 10;').fetchall():
  print(row)

In [39]:
for row in conn.execute('select * from nominations order by Year asc limit 10;').fetchall():
  print(row)

OperationalError: no such column: Year

In [40]:
conn.execute('drop table nominations;').fetchall()

[]

In [41]:
conn.execute('alter table nominations_two rename to nominations;').fetchall()

[]

In [42]:
conn.execute('select name from sqlite_master where type="table";').fetchall()

[('ceremonies',),
 ('movies',),
 ('actors',),
 ('movies_actors',),
 ('nominations',)]

In [43]:
movies = 'create table movies(id integer primary key, movie text)'
actors = 'create table actors(id integer primary key, actor text)'
movies_actors = '''create table movies_actors(
id integer primary key,
movie_id integer references movies(id), 
actor_id integer references actors(id)
);
'''
conn.execute(movies)
conn.execute(actors)
conn.execute(movies_actors)
conn.execute('select name from sqlite_master where type="table";').fetchall()

OperationalError: table movies already exists

In [44]:
conn.execute('pragma foreign_key_list(movies_actors);').fetchall()

[(0, 0, 'actors', 'actor_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE'),
 (1, 0, 'movies', 'movie_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE')]